<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Administrators</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div th:replace="administrator/header"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Administrators <br><a href="/administrator/create" class="btn btn-outline-primary">Add new administrator</a>
        </h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <td scope="col">Name</td>
                <td scope="col">Email</td>
                <td scope="col">Options</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="administrator:${administrators}">
                <td th:text="${administrator.lastName} + ', ' + ${administrator.firstName}">{{name}}</td>
                <td th:text="${administrator.email}">{{email}}</td>
                <td>
                    <a th:href="'/teacher/delete/'+${administrator.id}" class="btn btn-outline-danger" onclick="return confirm('This will delete teacher, confirm?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>