<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputAddress2">Name(DA)</label>
        <input th:field="${course.nameInDanish}" type="text" class="form-control" id="inputEmail4"
               placeholder="Name in danish">
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword4">Name(EN)</label>
        <input th:field="${course.nameInEnglish}" type="text" class="form-control" id="inputPassword4"
               placeholder="Name in english">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="inputPassword4">Min # of students</label>
        <input th:field="${course.minimumNumberOfStudents}" type="number" class="form-control"
               placeholder="0">
    </div>
    <div class="form-group col-md-4">
        <label for="inputPassword4">Expected # of students</label>
        <input th:field="${course.expectedNumberOfStudents}" type="number" class="form-control"
               placeholder="0">
    </div>
    <div class="form-group col-md-4">
        <label for="inputPassword4">Max # of students</label>
        <input th:field="${course.maximumNumberOfStudents}" type="number" class="form-control"
               placeholder="0">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <label for="inputAddress2">ECTS</label>
        <input th:field="${course.ects}" type="number" class="form-control" id="inputAddress2"
               placeholder="Amount of ECTS">
    </div>
    <div class="form-group col-md-3">
        <label for="inputAddress2">Mandatory or elective</label>
        <select th:field="${course.mandatory}" class="form-control">
            <option value="0">Choose...</option>
            <option th:value="1">Mandatory</option>
            <option th:value="0">Elective</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="inputAddress2">Semester</label>
        <input th:field="${course.semester}" type="number" class="form-control" id="inputAddres"
               placeholder="Semester">
    </div>
    <div class="form-group col-md-3">
        <label for="inputAddress2">Class code</label>
        <input th:field="${course.classCode}" type="text" class="form-control" id="inputAddr"
               placeholder="Class code">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <label for="inputPassword4">Course language</label>
        <input th:field="${course.language}" type="text" class="form-control"
               placeholder="Language">
    </div>
    <div class="form-group col-md-3">
        <label for="inputPassword4">Study programme</label>
        <select th:field="${course.studyProgramme}" class="form-control">
            <option value="0">Choose...</option>
            <option th:each="studyprogramme : ${studyprogramme}" th:value="${studyprogramme.id}"
                    th:text="${studyprogramme.name}">Choose...
            </option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword4">Learning outcome</label>
        <input th:field="${course.learningOutcome}" type="text" class="form-control"
               placeholder="The outcome of the course">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputPassword4">Content</label>
        <input th:field="${course.content}" type="text" class="form-control"
               placeholder="Course content">
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword4">Learning activities</label>
        <input th:field="${course.learningActivities}" type="text" class="form-control"
               placeholder="Activities of the course">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputPassword4">Exam form</label>
        <input th:field="${course.examForm}" type="text" class="form-control"
               placeholder="">
    </div>
    <div class="form-group col-md-6">
        <!--<label for="inputPassword4">Teachers</label>
        <select multiple="multiple" th:field="${course.teachers}" class="form-control">
            <option value="0">Choose...</option>
            <option th:each="teacher : ${teacher}" th:value="${teacher.id}"
                    th:text="${teacher.firstName}">Choose...
            </option>
        </select>-->
        <label for="">Teachers</label>
        <div class="checkbox" th:each="teacher : ${teacher}">
            <input th:field="${course.teachers}" type="checkbox" th:value="${teacher.id}" th:text="${teacher.firstName}">
        </div>
    </div>
</div>

<button type="submit" value="send" class="btn btn-primary">Save</button>